body {
  padding: 0px;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.navbar {
  height: 50px;
  width: 100%;
  background: #cc9090;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  align-items: center;
}