body {
  padding: 50px;
  margin: 0px;
}

a {
  color: #00B7FF;
}

#navbar {
  height: 50px!important;
  width: 100%!important;
  background: #cc9090!important;
  font-weight: bolder!important;
  font-size: 25px!important;
  display: flex!important;
  align-items: center!important;
}