<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>DCU CAT</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nu6lv0gyr8"></script>
</head>
<body>
<h1> DCU CAT </h1>
<div id="map" style="width:100%; height: 90vh;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(35.9114271, 128.8077193),
    zoom: 16
};

var map = new naver.maps.Map('map', mapOptions);
</script>
</body>
</html>